@import 'colors';
@import 'shared';

header {
    margin-top: 60px;

    > h1, h2, h3 {
        font-family: 'Zilla Slab', serif;
        text-align: center;
    }

    > h1, h2 {
        font-weight: 600;
        margin-bottom: 10px;
    }

    > h1 {
        font-size: 36px;
        color: $cyan-500;
    }

    > h2 {
        font-size: 32px;
        color: $font-white;
    }

    > h3 {
        font-weight: 500;
        line-height: 1.33;
        margin-bottom: 25px;
        color: $font-white;
    }
}

.page-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    $nav-tab-height: 30px;
    font-family: 'Zilla Slab', serif;
    margin-bottom: 50px;

    > div {
        margin-right: 15px;
        height: $nav-tab-height;
        background-color: $gray-400;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: $font-white;
        height: inherit;
        padding-right: 18px;

        &::before {
            content: '';
            display: block;
            margin-right: 18px;
            width: 30px;
            height: $nav-tab-height;
            background-color: $gray-300;
        }

        &.active::before {
            background-color: $light-green-accent-400;
        }
    }
}

.links {
    display: flex;
    justify-content: center;

    > li {
        margin-right: 36px;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: $font-white;
    }

    i {
        font-size: 36px;
    }
}

.heart {
    color: red;
    padding: 0 4px;
}

.green {
    color: $light-green-accent-400;
}