
.about {
    font-family: "Domine", serif;
    color: black;
    >div {
        display: flex;
        flex-direction: column;
        div:first-child {
            margin-bottom: 30px;
        }
    }
    h2 {
        margin-bottom: 0;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-family: "Gudea", sans-serif;
        font-size: 18px;
        margin-bottom: 0;
    }
    p:first-child {
        margin-top: 30px;
    }

    img {
        display: none;
        // margin-top: 40px;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        >div {
            flex-direction: row;
            justify-content: space-between;
            div {
                width: 45%;
                height: 50%;
            }
        }
        img {
            display: block;
            border: 1px solid black;
            border-radius: 25px;
            width: 100%;
            // margin-top: 0;
        } 
        p {
            font-size: 22px;
        }
    }
}
