
@import 'colors';

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: 400px 1fr;
    background-color: $bg-gray;
}

main {
    > section {
        min-height: 100vh;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.hide {
    display: none;
}


@import 'header';
@import 'about';
@import 'projects';
@import 'experience';