
@import 'colors';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 10%;
    font-family: 'IBM Plex Serif', serif;
    background-color: $bg-gray;
    color: $font-white;

    @media screen and (max-width: 600px) {
        margin: 0 5%;
    }
}

main {
    > section {
        min-height: 100vh;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.hide {
    display: none;
}


@import 'header';
@import 'about';
@import 'projects';
@import 'contact';
@import 'experience';