@import "header";
@import "projects";
@import "contact";

body {
    background-color: #F1F3DB;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }
    > h1 {
    font-family: "Domine", serif;
    font-size: 30px;
    }
}

section h2 {
    font-family: "Domine", serif;
    font-size: 22px;
}

.hide {
    display: none;
}

.home {
    font-family: "Domine", serif;
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-family: "Gudea", sans-serif;
        font-size: 18px;
        margin-top: 30px;
    }
}

