.project-item {
    display: flex;
    margin-bottom: 30px;
    img {
        width:100%;
        height: 100%;
    }
}

.project-bio {
    display: flex;
    flex-direction: column;
    background-color: $dark-blue;
    height: 100%;
    margin-bottom: 0;
    width: 100%;
    color: white;
    @media screen and (min-width: 768px) {
        margin-top: 0;
        width: 35%;
    }
    h4 {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $even-darker-blue;
        font-family: "Domine", serif;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        color: white;
        @media screen and (min-width: 768px) {
            font-size: 24px;
        }
    }
    p {
        font-family: "Gudea", sans-serif;
        font-size: 18px;
        padding: 0 10px;
    }
    ul {
        list-style: none;
        display: flex;
        padding-left: 0;
        margin: 0;
    }
    li {
        flex-grow: 1;
        height: 100%;
        background-color: $primary-blue;
    }
    li:first-child {
        border-right: 1px inset black;
    }

    a {
        font-family: "Gudea", sans-serif;
        font-weight: normal;
        font-size: 20px;
        text-decoration: none;
        display: block;
        text-align: center;
        color: black;
        padding: 10px 0;
    }
    a:hover {
        background-color: $highlight-blue;
    }
}
.project-snapshot {
    display: none;
    width: 65%;
    @media screen and (min-width: 768px) {
        display: block;
    }
}