.navbar {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
  padding-left: 0;
  left: 10vw;
  margin: auto;
  font-family: "Gudea", sans-serif; }
  @media screen and (min-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      width: 50vw;
      margin: auto;
      margin-top: 10px;
      left: 0; } }
  .navbar a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      .navbar a {
        font-size: 22px; } }
  .navbar a:hover {
    font-weight: bold; }

.project-grid {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .project-grid {
      flex-direction: row;
      justify-content: space-between; } }

.grid-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
  margin-top: 30px; }
  @media screen and (min-width: 768px) {
    .grid-item {
      width: 30%;
      margin-top: 0; } }
  .grid-item h4 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #46B29D;
    font-family: "Domine", serif;
    font-size: 18px;
    text-decoration: none;
    color: black; }
  .grid-item p {
    font-family: "Gudea", sans-serif;
    font-size: 14px;
    padding: 0 10px; }
  .grid-item a {
    font-family: "Gudea", sans-serif;
    font-weight: bold;
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    border-radius: 8px;
    padding: 5px; }
  .grid-item a:hover {
    background-color: #c4c5b4; }

.gallery {
  display: none;
  color: white; }
  @media screen and (min-width: 768px) {
    .gallery {
      display: block; } }
  .gallery img {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer; }
  .gallery img:hover {
    border: 2px solid #de5b49; }
  .gallery h3 {
    font-family: "Domine", serif;
    font-size: 22px; }
  .gallery h4 {
    font-family: "Domine", serif;
    font-size: 18px;
    margin-bottom: 5px; }

.info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 80vw;
  font-family: "Gudea";
  font-size: 22px;
  color: white; }
  .info p {
    margin: 0; }
  .info p:nth-child(2) {
    margin-top: 20px; }
  .info span {
    font-style: italic; }

body {
  background-color: #324d5c; }

main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto; }
  @media screen and (min-width: 768px) {
    main {
      margin-top: 30px; } }
  main > h1 {
    font-family: "Domine", serif;
    font-size: 30px;
    color: white; }

section h2 {
  font-family: "Domine", serif;
  font-size: 22px;
  color: white; }

.hide {
  display: none; }

.home {
  font-family: "Domine", serif;
  color: white; }
  .home h2 {
    font-size: 22px; }
  .home h3 {
    font-size: 18px; }
  .home p {
    font-family: "Gudea", sans-serif;
    font-size: 18px;
    margin-bottom: 0; }
    @media screen and (min-width: 768px) {
      .home p {
        width: 50%; } }
  .home p:first-child {
    margin-top: 30px; }

/*# sourceMappingURL=style.css.map */
