html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 400px 1fr;
  background-color: #404552;
}

main > section {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.hide {
  display: none;
}

.carousel {
  display: grid;
  grid-template-areas: "left-arrow image-list right-arrow" "subtitle subtitle subtitle" ". indicator .";
  justify-items: center;
  justify-content: center;
  margin: 30px auto;
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .carousel {
    width: 90%;
  }
}
.carousel__image-list {
  grid-area: image-list;
  justify-self: center;
  display: flex;
  justify-content: center;
}
.carousel__image-list li {
  text-align: center;
  display: none;
}
.carousel__image-list .active {
  display: block;
}
.carousel__image-list img {
  width: 100%;
  cursor: pointer;
}
.carousel__left-arrow, .carousel__right-arrow {
  align-self: center;
  outline: none;
}
.carousel__left-arrow > i, .carousel__right-arrow > i {
  font-size: 36px;
  outline: none;
  cursor: pointer;
}
.carousel__left-arrow {
  grid-area: left-arrow;
  padding-right: 10px;
}
.carousel__left-arrow i {
  transform: rotate(180deg);
}
.carousel__right-arrow {
  grid-area: right-arrow;
  padding-left: 10px;
}
.carousel__subtitle {
  grid-area: subtitle;
  margin: 20px 0 10px 0;
  text-align: center;
}
.carousel__indicator {
  grid-area: indicator;
  display: flex;
  justify-content: center;
}
.carousel__indicator i {
  color: #d3dae3;
  font-size: 16px;
}
.carousel__indicator .active i {
  color: #5294e2;
}

header {
  margin-top: 60px;
}
header > h1, header h2, header h3 {
  font-family: "Zilla Slab", serif;
  text-align: center;
}
header > h1, header h2 {
  font-weight: 600;
  margin-bottom: 10px;
}
header > h1 {
  font-size: 36px;
  color: #00BCD4;
}
header > h2 {
  font-size: 32px;
  color: #d3dae3;
}
header > h3 {
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 25px;
  color: #d3dae3;
}

.page-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: "Zilla Slab", serif;
  margin-bottom: 50px;
}
.page-nav > div {
  margin-right: 15px;
  height: 30px;
  background-color: #555c6d;
}
.page-nav > div:last-child {
  margin-right: 0;
}
.page-nav a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #d3dae3;
  height: inherit;
  padding-right: 18px;
}
.page-nav a::before {
  content: "";
  display: block;
  margin-right: 18px;
  width: 30px;
  height: 30px;
  background-color: #696e7b;
}
.page-nav a.active::before {
  background-color: #76FF03;
}

.links {
  display: flex;
  justify-content: center;
}
.links > li {
  margin-right: 36px;
}
.links > li:last-child {
  margin-right: 0;
}
.links a {
  color: #d3dae3;
}
.links i {
  font-size: 36px;
}

.heart {
  color: red;
  padding: 0 4px;
}

.green, .experience__link {
  color: #76FF03;
}

.carousel {
  display: grid;
  grid-template-areas: "left-arrow image-list right-arrow" "subtitle subtitle subtitle" ". indicator .";
  justify-items: center;
  justify-content: center;
  margin: 30px auto;
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .carousel {
    width: 90%;
  }
}
.carousel__image-list {
  grid-area: image-list;
  justify-self: center;
  display: flex;
  justify-content: center;
}
.carousel__image-list li {
  text-align: center;
  display: none;
}
.carousel__image-list .active {
  display: block;
}
.carousel__image-list img {
  width: 100%;
  cursor: pointer;
}
.carousel__left-arrow, .carousel__right-arrow {
  align-self: center;
  outline: none;
}
.carousel__left-arrow > i, .carousel__right-arrow > i {
  font-size: 36px;
  outline: none;
  cursor: pointer;
}
.carousel__left-arrow {
  grid-area: left-arrow;
  padding-right: 10px;
}
.carousel__left-arrow i {
  transform: rotate(180deg);
}
.carousel__right-arrow {
  grid-area: right-arrow;
  padding-left: 10px;
}
.carousel__subtitle {
  grid-area: subtitle;
  margin: 20px 0 10px 0;
  text-align: center;
}
.carousel__indicator {
  grid-area: indicator;
  display: flex;
  justify-content: center;
}
.carousel__indicator i {
  color: #d3dae3;
  font-size: 16px;
}
.carousel__indicator .active i {
  color: #5294e2;
}

.experience > h1 {
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .experience > h1 {
    text-align: center;
  }
}
.experience__job {
  margin-top: 30px;
}
.experience__job > h3, .experience__job h4 {
  margin-top: 10px;
}
.experience__job li:last-child {
  margin-right: 0;
}
.experience__skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.experience__skills li {
  padding: 10px 18px;
  border-radius: 36px;
  width: auto;
  text-align: center;
  background-color: #5294e2;
  font-weight: 600;
  color: white;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .experience__skills li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.experience__link {
  font-size: 18px;
}
.experience .carousel {
  margin-top: 30px;
}
